<%-  include('./partials/head') %> 
<%- include('./partials/header') %>
<body>
    <ul>
        <% for(let i = 0; i < Reviews.length; i++) { %> 
            <li>
                <a href="/movies/<%= Reviews[i].id %> "></a>
                <%= Reviews[i].resena %> 
            </li>
        <% } %> 
    </ul>
</body> 
<%- include('./partials/footer') %> 
