<!DOCTYPE html>
<html lang="en">

<%-  include('./partials/head') %> 
<%- include('./partials/header') %> 

<body>

    <h1>Create review</h1>
    <form action="/movies/create" method="POST">
        <div>
            <label for="">Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="">Date:</label>
            <input type="date" name="createdAt">
        </div>
        <div>
            <label for="">Rating:</label>
            <select name="puntaje">
                <% for(let i=0; i< puntaje.length; i++) {%> 
                <option value="<%= Reviews[i].usuario_id %> ">
                    <%= Reviews[i].puntaje %> 
                </option>
                <% } %> 
            </select>
        </div>
        <div>
            <label for="">My review:</label>
            <input type="text" name="resena">
        </div>
        <button type="submit">Create</button>
    </form>

        <h1>My reviews:</h1>
        <p> User: <%= oneUser.name %> </h1>
        <p> Email: <%= oneUser.email %> </p>
        <p>Review: <% for(i=0; Reviews.length; i++) { %> 
            <%=  Reviews[i].resena %> 
            <%=  Reviews[i].createdAt %> 
        </p>
 </body>

<%- include('./partials/footer') %> 

</html>



