<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/detallepeli.css"> 
    <script src="/javascripts/detallepeli.js" ></script>
    <body>
        <div class="access-allowed">
        <header>
            <%- include('./partials/header') %> 
        </header>
       
            <main>
              <section>
                <div class="detalle-peli">
                   <span>
      
                   </span>
                </div>
                <div class="trailer">
                 <!-- para insertar el trailer utilizamos un div aparte -->
                <iframe  class="trailer-peli" width="560" height="315" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <span>
                  <!-- el btn onclick nos permite seleccionar la pelicula como favorita -->
                     <button onclick='agregarFavoritos(" + id + ")' class='estrellita '>&#9733; FAVORITA &#9733; </button>
                </span>
                </div>
              </section>
              <section>
      
              </section>
              <section>
             <div class="recom">
                     <h4> Películas Recomendadas </h4>
                   <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push;ratio: 2:3">
                     <ul class="uk-slideshow-items recomendaciones">
                       <!-- Al ejecutarse la función se agregaran li a través de js en la ul vacía -->
                     </ul>
                     <div class="uk-light">
                       <!-- Hipervínculo para pasar a la siguiente película -->
                         <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                         <!-- Hipervínculo para regresar a la película anterior -->
                         <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                     </div>
              </section>

              <% if (reviews.length > 0) { %>
                <section>
                  <h3>Reviews</h3>
                  <ul>
                      <% for (let i = 0; i < reviews.length; i++) { %>
                          <li>
                            <%= reviews[i].name %> <br>
                            <%= reviews[i].resena %> <br>
                            <%= reviews[i].createdAt %> <br>
                            <%=reviews[i].oneUser.name%> <br>
                            <hr>
                          </li>
                      <% } %>

                  </ul>
                </section>
              <% } %>
              
          
                          <div class="uk-modal-body" uk-overflow-auto>
                            <form action="/movies/createReview" class="uk-flex uk-flex-column uk-flex-middle" action="#" method="post">
                              <div class="uk-margin-large-top">
                                <div class="uk-inline">
                                  <input type="hidden" name="pelicula_id" value="<%= pelicula_id %> ">
                                </div>
                              </div>
                              <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                                    <input class="uk-input" id="email" type="email" name="email">
                                </div>
                            </div>
                               <div class="uk-margin">
                                 <div class="uk-inline">
                                   <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                   <input class="uk-input" id="password" type="password" name="password">
                                 </div>
                               </div>
                               <div>
                                 <textarea name="resena" id="resena" cols="30" rows="10"></textarea>
                               </div>
                               <div class="uk-modal-footer uk-text-right">
                                   <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                   <button class="uk-button uk-button-primary" type="submit">Save</button>
                               </div>
                            </form>
                          </div>
      
            </main>
       
        </div>
        <footer>
            <%- include('./partials/footer') %> 
        </footer>
    </body>
</html>




