<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/detallepeli.css"> 
<body>    
    <%- include('./partials/header') %>  
  
    <section>
        <h1>Search Results</h1> 
        <% if(users.length >0) { %>
            <% for (let i = 0; i < users.length;i++) {%>
                <h3> <a href="/users/detail/:id"><%= users[i].name %></a></h3>
                <h4> email: <%= users[i].email %></h4>  
                <hr> 
            <% } %>
        <% } else { %> 
            <p>
                Haven´t found any users with that name or email!
            </p>
            <% } %>
    </section>
    <%- include('./partials/footer') %> 

</body>

</html>