<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/detallepeli.css"> 
<body>
<section>
    <h3>Welcome to <%= oneUser.user %>'s profile</h3>
    <ul>
        <li>
            Email: <%= oneUser.email %>
        </li>
        <li>
            Birth date: <%= oneUser.birth_date %>
        </li>
    </ul>

    <h2> <%= oneUser.user %>'s Reviews</h2>
    <% if (Reviews.length >0) { %>
                <% for (let i=0; i< users.length; i++){ %>

                <h4> review: <%= Reviews[].pelicula_id %> </h4>
                <p> <%= Reviews[].resena %> </p>
                <hr>
        <% } %>    
        <% } else { %> 
            <p> We haven't found reviews </p>
    <% } %>  
</section> 
<%- include('./partials/footer') %> 
</body>
</html>