<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head') %> 
    <!-- <link rel="stylesheet" href="/stylesheets/home.css"> -->
    <link rel="stylesheet" href="/stylesheets/myReviews.css">
    <body>
        <%- include('./partials/header') %> 


        <!-- MY REVIEWS -->
    <section class="listadoUsers">
        <% if (resultado.length >0)  { %> 
                    <div class="titleReviews">
                        <ul class="user-email">
                            <h2> <%= resultado[0].oneUser.name %>'s reviews</h2>
                            <p>Your email: <%= resultado[0].oneUser.email %>  </p>
                        </ul>
                    </div>
                    </div>
                    <% for (let i=0; i< resultado.length; i++){ %>
                    <div class="myReviews">
                        <ul class="edit-delete-movie">
                            <li>
                                <div class="uk-card-badge uk-label uk-margin-bottom">
                                    <%= resultado[i].puntaje %> 
                                </div>
                            </li>
                            <li>
                                <p class="uk-margin-top"> <%= resultado[i].resena %>  </p>
                            </li>
                            <li>
                                <a class="uk-icon-button" uk-icon="pencil" uk-toggle href="/users/reviews/edit/<%= resultado[i].id %>" ></a>
                                <p>Edit</p>
                            </li>
                            <li>
                                <a class="uk-icon-button" uk-icon="trash" uk-toggle href="/users/reviews/delete/<%= resultado[i].id %>"> </a>
                                <p>Delete</p> 
                            </li>
                            <li>
                                <a class="uk-icon-button" uk-icon="play-circle" uk_toggle href="/movies/detalle?idDePelicula= <%= resultado[i].pelicula_id %>"> </a>
                                <p>Go to movie</p>
                            </li>
                            <li>
                                <hr>
                            </li>
                        </ul>
                    </div>
                <% } %>    
                <% } else { %> 
                    <p> We haven't found reviews </p>
            <% } %>  
    </section> 

<!-- DELETE REVIEWS-->


<%- include('./partials/footer') %> 
</body>
</html>