<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/home.css">
    <body>
        <%- include('./partials/header') %> 


        <!-- MY REVIEWS -->
    <section>
        <% if (resultado.length >0)  { %> 
                    <div class="titleReviews">
                        <ul>
                            <h2> <%= resultado[0].oneUser.name %>'s reviews</h2>
                            <p>Your email: <%= resultado[0].oneUser.email %>  </p>
                        </ul>
                    </div>
                    </div>
                    <% for (let i=0; i< resultado.length; i++){ %>
                    <div class="myReviews">
                        <ul>
                            <li>
                                <div class="uk-card-badge uk-label uk-margin-bottom">
                                    <%= resultado[0].puntaje %> 
                                </div>
                            </li>
                            <li>
                                <p class="uk-margin-top"> <%= resultado[i].resena %>  </p>
                            </li>
                            <li>
                                <a class="uk-icon-button" uk-icon="settings" uk-toggle href="/users/reviews/edit"> <%= resultado[i].id %>  </a>
                                <a class="uk-icon-button" uk-icon="trash" uk-toggle href="/detalle?idPelicula=<%= resultado[i].pelicula_id %>  <%= resultado[0].id %> Go to the movie </a>
                                <a class="uk-text-danger" href="/users/reviews/delete"> <%= resultado[i].id %>  </a>
                                <hr>
                            </li>
                        </ul>
                    </div>
                <% } %>    
                <% } else { %> 
                    <p> We haven't found reviews </p>
            <% } %>  
    </section> 

<!-- DELETE REVIEWS-->


<%- include('./partials/footer') %> 
</body>
</html>